* {
    padding: 0;
    margin: 0;
}
.body{
    height: 100vh;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(49, 114, 170);
    display: flex;
    flex-direction: column;
}

.topbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background-color: rgb(32, 66, 131);
}

.topbar input{
    border: none;
    border-radius: 3px;
    height: 70%;
    width: 30vw;
    border: 3px solid rgb(36, 154, 223);
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(36, 154, 223);
    font-size: 16px;
}
.topbar input:focus{
    background-color: rgb(236, 236, 236);
}
.topbar button {
    background-color: rgb(49, 114, 170);
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    border: none;
    height: 50%;
    margin-left: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


  .modal-container{
      display: none;
  }

  .modal-container{
      width: 100vw;
      height: 100vw;
      position: fixed; 
      z-index: 1;

  }
  .modal {
      height: 100vh;
    background-color: rgb(36, 139, 235);
    border: 3px solid rgb(9, 46, 63);
    display: flex;
    flex-direction: column;
  }

  .modal input{
      padding: 0.05rem 2rem;
    background-color: #2196F3;
    border: 4px solid #1365a8;
    width: 50%;
    margin: 1rem;
    height: 5vh;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;

  }

  .modal input::placeholder{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

  #pages{
      width: 10%;
      display: flex;
      justify-content: center;
  }
  
  #descripton{
      background-color: #2196F3;
      border: 4px solid #1365a8;
      width: 50%;
      height: 20vh;
      margin: 1rem;
      border-radius: 10px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      padding: 1rem;
      
  }

  #descripton::placeholder{
      color: white;
      font-size: 20px;
      font-weight: bold;
  }
  form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
.books{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px) ;
    gap: 1rem;
    justify-items: center;
}
  .book-card{
      width: 10vw;
    padding: 1rem;
    background-color: rgb(32, 66, 131);
      border-radius: 10px;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 12px;
      color: whitesmoke;
  }

  .buttons-form{
      display: flex;
      justify-content: center;
      margin-top: 5rem;
  }

  .button{
    background-color: rgb(17, 63, 104);
    font-family: sans-serif;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    height: 50%;
    margin-left: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button:hover{
    background-color: rgb(35, 102, 160);
    font-family: sans-serif;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    height: 50%;
    margin-left: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .switch{
      font-size: 20px;
      color: white;
      font-family: sans-serif;
      font-weight: bold;
  }